
<html>
<head>
  {% load staticfiles %}
  <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>
</head>
<body>
	
  {% load staticfiles %}
<img src="{% static "stravasmooth_banner.png" %}" alt="stravasmooth"/>
  </br>
  </br>
  </br>
<p style="margin-left: 40px"><a href='{{url}}'>Connect to Strava</a></p>
  
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
    Web interface for <a href="https://github.com/jonderwaater/stravasmooth/">stravasmooth</a> by <a href="https://github.com/jonderwaater/">jonderwaater</a></br></br>


</body>


</html>
