
<html>
<head>
  {% load staticfiles %}
  <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>
</head>
<body>
	
  {% load staticfiles %}
<img src="{% static "stravasmooth_banner.png" %}" alt="stravasmooth"/>
  </br>
  </br>
  </br>
<p style="margin-left: 40px"><a href='{{url}}'>Connect to Strava</a></p>
  
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
    Web interface for <a href="https://github.com/jonderwaater/stravasmooth/">stravasmooth</a> by <a href="https://github.com/jonderwaater/">jonderwaater</a></br></br>

    Update 24.04.2017: The full functionality of this app is currently not available due to modified permissions by Strava. You can still generate smoothened gpx data, but currently it requires manual deletion and upload of the activity through the Strava web page.


</body>


</html>
