
<html>
<head>
  {% load staticfiles %}
  <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>
</head>
<body>
	
  {% load staticfiles %}
<img src="{% static "stravasmooth_banner.png" %}" alt="stravasmooth"/>
  </br>
  </br>
  </br>

  If you want to run stravasmooth (stravasmoothen) locally on your device after installation through "pip install git+https://github.com/jonderwaater/stravasmooth", or after cloning the repository, you have to make your token locally available.</br></br>

  Store your token in a file "~/.stravasmooth" with the following content:</br></br>
  STRAVASMOOTH_TOKEN={{token}}=</br></br>
  

</body>


</html>
