
<html>
  <head>
      {% load staticfiles %}
        <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>
  </head>

<body>

    {% load staticfiles %}
      <img src="{% static "stravasmooth_banner.png" %}" alt="stravasmooth"/></br></br>


  Hi {{  athlete_firstname  }}, good to see you</br></br>
  
  Which activity do you want to process?</br></br></br>

  <button type="button" onclick="location.href='{{ activityurl }}'">Latest activity</button></br></br></br>

  Activity with id (the number at the end of the url when you visit your activity in the browser): </br></br>

<form action="/activity/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
  {% if activity_error == 0 %} <font color="red">Activity not found. Please enter an existing activity!</font> {% endif %}
  {% if activity_error == 1 %} <font color="red">Activity belongs to someone else. Please enter an activity that you own!</font> {% endif %}

  </br>
  <a href='{{ mytokenurl }}'>View my token</a></br>

</body>
</html>
